@use '../../styles/_mixins' as *;

.inputAdd {
  width: 250px;
  height: 32px;
  display: flex;
  margin: 0 auto 15px;

  &Value {
    flex-basis: 205px;
    background-color: var(--color-lavender);
    border: 1px solid rgba(177, 177, 177, 0.4);
    border-radius: 5px 0 0 5px;
    padding: 11px;
    font-size: 12px;
  }

  &Value::placeholder {
    color: var(--color-grey);
  }

  &Button {
    flex-basis: 45px;
    display: grid;
    place-items: center;
    position: relative;
    background-color: var(--color-main-background);
    border-radius: 0 5px 5px 0;
    cursor: pointer;

    @include buttonInteraction;
  }
}
